<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast> <!-- Aquí es donde se mostrarán las notificaciones -->

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar Rol" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>



            <p-table
            #dt
            [value]="ROLES.roles"
            [columns]="cols"
            responsiveLayout="scroll"
            [rows]="10"
            [globalFilterFields]="['name', 'permission_pluck']"
            [paginator]="true"
            [rowsPerPageOptions]="[10, 20, 30]"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            selectionMode="multiple"
            [rowHover]="true"
            dataKey="id"
            [sortField]="'id'"
            [sortOrder]="1"
          >
            <!-- Caption (cabecera) -->
            <ng-template pTemplate="caption">
              <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Lista de Roles</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Buscar por nombre o permisos..."
                    class="w-full sm:w-auto"
                  />
                </span>
              </div>
            </ng-template>

            <!-- Encabezados de la tabla -->
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem" pSortableColumn="id">
                  ID
                </th>
                <th pSortableColumn="name">
                  Rol <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="permission_pluck">
                  Permisos <p-sortIcon field="permission_pluck"></p-sortIcon>
                </th>
                <th>Fecha de Registro</th>
                <th pSortableColumn="actions">
                  Acciones <p-sortIcon field="actions"></p-sortIcon>
                </th>
              </tr>
            </ng-template>

            <!-- Cuerpo de la tabla -->
            <ng-template pTemplate="body" let-role>
              <tr>
                <td style="width:14%; min-width:10rem;">
                  <span class="p-column-title">Código</span>{{ role.id }}
                </td>
                <td>{{ role.name }}</td>
                <td>
                  <span *ngFor="let perm of role.permission_pluck" class="p-tag p-tag-rounded mr-1">
                    {{ perm }}
                  </span>
                </td>
                <td>{{ role.created_at | date: 'short' }}</td>
                <td>
                  <div class="flex">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editRole(role.id) "></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarRol(role.id)"></button>
                  </div>
                </td>
              </tr>
            </ng-template>

            <!-- Mensaje cuando no hay datos -->
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No se encontraron roles.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>


        <p-dialog  [(visible)]="productDialog" [style]="{width: '450px'}" header="Agregar Un Rol" [modal]="true" class="p-fluid"   [closable]="false"
        >

            <ng-template pTemplate="content" id="form-modal"  class="form-modal">
                <div [formGroup]="myGroup" flex align-items-center flex-wrap gap-2 mb-3>
                    <label for="name" class="block font-bold mb-2">Nombre del Rol</label>
                    <input type="text" pInputText id="name" formControlName="name"  autofocus class="w-full" (click)="showErrorViaToast()" />
                    @if (myGroup.invalid  && myGroup.get('name').touched ) {


                        <span class="text-error">
                            * El Rol es Requerido
                        </span>

                    }
                </div>
                <div class="flex flex-col gap-4">
                    <div class="field">
                        <label class="block font-bold mb-2">Selecciona los permisos:</label>
                        <div class="">
                            <table class="w-full">
                                <thead>
                                    <tr>
                                        <th class="text-left p-3">ROL</th>
                                        <th class="text-left p-3">PERMISOS</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let permission of SIDEBAR" class="border-bottom-1 surface-border">
                                        <td class="p-3">{{ permission.name }}</td>
                                        <td class="p-3">
                                            <div class="flex flex-column gap-2">
                                                <ng-container *ngFor="let perm of permission.permisos">
                                                    <div class="flex align-items-center">
                                                        <p-checkbox
                                                            [binary]="true"
                                                            name="permisions"

                                                            (onChange)="addPermission(perm.permiso)"
                                                            [inputId]="perm.permiso"
                                                        ></p-checkbox>
                                                        <label [for]="perm.permiso" class="ml-2">{{ perm.name }}</label>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </ng-template>



            <ng-template pTemplate="footer">
                <button pButton type="button" label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button [disabled]="myGroup.invalid || permisions == 0 " pButton type="button" label="Registrar" icon="pi pi-check" (click)="store()"></button>
            </ng-template>
        </p-dialog>




        <p-dialog  header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>

            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

<!-- <p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Editar Rol" [modal]="true" [closable]="false">
    <ng-template pTemplate="content">
      <div [formGroup]="editForm" class="form-modal">

        <div class="field">
          <label for="editName" class="block font-bold mb-2">Nombre del Rol</label>
          <input id="editName" formControlName="name" type="text" pInputText class="w-full" />
        </div>


        <div class="field">
          <label class="block font-bold mb-2">Selecciona los permisos:</label>
          <div class="flex flex-column gap-2">
            <ng-container *ngFor="let permission of SIDEBAR">
              <div class="flex align-items-center" *ngFor="let perm of permission.permisos">
                <p-checkbox
                  [binary]="true"
                  [checked]="selectedPermissions.includes(perm.permiso)"
                  (onChange)="togglePermission(perm.permiso)"
                  [inputId]="perm.permiso"
                ></p-checkbox>
                <label [for]="perm.permiso" class="ml-2">{{ perm.name }}</label>
              </div>



            </ng-container>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="closeEditDialog()"></button>
      <button pButton type="button" label="Actualizar" icon="pi pi-check" [disabled]="editForm.invalid" class="p-button-text" (click)="updateRole()"></button>
    </ng-template>
  </p-dialog> -->


  <!-- <p-dialog  [(visible)]="editDialog" [style]="{width: '450px'}" header="Editar Rol" [modal]="true" class="p-fluid"   [closable]="false"
  >

      <ng-template pTemplate="content" id="form-modal"  class="form-modal">
          <div [formGroup]="editForm" flex align-items-center flex-wrap gap-2 mb-3>
              <label for="name" class="block font-bold mb-2">Nombre del Rol</label>
              <input id="editName" formControlName="name" type="text" pInputText class="w-full" />
              @if (editForm.invalid  && editForm.get('name').touched ) {


                  <span class="text-error">
                      * El Rol es Requerido
                  </span>

              }
          </div>
          <div class="flex flex-col gap-4">
              <div class="field">
                  <label class="block font-bold mb-2">Selecciona los permisos:</label>
                  <div class="">
                      <table class="w-full">
                          <thead>
                              <tr>
                                  <th class="text-left p-3">ROL</th>
                                  <th class="text-left p-3">PERMISOS</th>
                              </tr>
                          </thead>

                          <tbody>
                              <tr *ngFor="let permission of SIDEBAR" class="border-bottom-1 surface-border">
                                  <td class="p-3">{{ permission.name }}</td>
                                  <td class="p-3">
                                      <div class="flex flex-column gap-2">


                                          <ng-container *ngFor="let perm of permission.permisos">
                                            <div class="flex align-items-center">
                                              <p-checkbox
                                                [binary]="true"
                                                [checked]="selectedPermissions.includes(perm.permiso)"
                                                (onChange)="togglePermission(perm.permiso)"
                                                [inputId]="perm.permiso"
                                              ></p-checkbox>
                                              <label [for]="perm.permiso" class="ml-2">{{ perm.name }}</label>
                                            </div>
                                          </ng-container>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>

              </div>
          </div>

      </ng-template>



      <ng-template pTemplate="footer">
          <button pButton type="button" label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="closeEditDialog()"></button>
          <button [disabled]="myGroup.invalid || permisions == 0 " pButton type="button" label="Registrar" icon="pi pi-check" (click)="store()"></button>
      </ng-template>
  </p-dialog> -->
  <p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Editar Rol" [modal]="true" class="p-fluid" [closable]="false">
    <ng-template pTemplate="content" id="form-modal" class="form-modal">
      <div [formGroup]="editForm" flex align-items-center flex-wrap gap-2 mb-3>
        <label for="editName" class="block font-bold mb-2">Nombre del Rol</label>
        <input id="editName" formControlName="name" type="text" pInputText class="w-full" />

        <span *ngIf="editForm.invalid && editForm.get('name').touched" class="text-error">
          * El Rol es Requerido
        </span>
      </div>

      <div class="flex flex-col gap-4">
        <div class="field">
          <label class="block font-bold mb-2">Selecciona los permisos:</label>
          <div class="">
            <table class="w-full">
              <thead>
                <tr>
                  <th class="text-left p-3">ROL</th>
                  <th class="text-left p-3">PERMISOS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let permission of SIDEBAR" class="border-bottom-1 surface-border">
                  <td class="p-3">{{ permission.name }}</td>
                  <td class="p-3">
                    <div class="flex flex-column gap-2">
                      <!-- <ng-container *ngFor="let perm of permission.permisos">
                        <div class="flex align-items-center">
                            <p-checkbox
                            [binary]="true"

                            [checked]="selectedPermissions.includes(perm.permiso)"
                            (onChange)="togglePermission($event, perm.permiso)"
                            [inputId]="perm.permiso"
                          ></p-checkbox>

                          <label [for]="perm.permiso" class="ml-2">{{ perm.name }}</label>
                        </div>
                      </ng-container> -->

                      <!-- <ng-container *ngFor="let perm of permission.permisos">
                        <div class="flex align-items-center">
                          <p-checkbox
                            [binary]="true"
                            [(ngModel)]="selectedPermissionsState[perm.permiso]"
                            (onChange)="togglePermission($event, perm.permiso)"
                            [inputId]="perm.permiso">
                          </p-checkbox>

                          <label [for]="perm.permiso" class="ml-2">{{ perm.name }}</label>
                        </div>
                      </ng-container> -->

                      <ng-container *ngFor="let perm of permission.permisos">
                        <div class="flex align-items-center">
                          <p-checkbox
                            [binary]="true"
                            [(ngModel)]="selectedPermissionsState[perm.permiso]"
                            (onChange)="togglePermission($event, perm.permiso)"
                            [inputId]="perm.permiso">
                          </p-checkbox>
                          <label [for]="perm.permiso" class="ml-2">{{ perm.name }}</label>
                        </div>
                      </ng-container>


                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="closeEditDialog()"></button>
      <button [disabled]="editForm.invalid || selectedPermissions.length === 0" pButton type="button" label="Actualizar" icon="pi pi-check" (click)="updateRole()"></button>
    </ng-template>
  </p-dialog>
