<p-panel>
    <ng-template pTemplate="header">
      <p-toast></p-toast>
      <h2 class="panel-title">
        Listado de Habitaciones Para Checkout Fecha: {{ currentDate }} hora: {{ currentTime }}
      </h2>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="grid">
        <div class="p-grid p-fluid p-nogutter p-ai-center" style="gap: 1rem; padding: 1rem;">
          <div class="grid formgrid">
            <!-- Filtro por número de piso -->
            <div class="col-12 mb-2 lg:col-3 lg:mb-0">
              <label for="numeroPiso" class="p-d-block p-mb-1">Filtrar por piso:</label>
              <p-dropdown
                [showClear]="true"
                [options]="numerosPiso"
                [(ngModel)]="selectedPiso"
                (onChange)="filtrarHabitaciones()"
                placeholder="Selecciona un piso"
                appendTo="body"
              ></p-dropdown>
            </div>

            <!-- Filtro por número de habitación -->
            <div class="col-12 mb-2 lg:col-3 lg:mb-0">
              <label for="numero" class="p-d-block p-mb-1">Buscar por número:</label>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="number"
                  [(ngModel)]="numeroHabitacion"
                  (input)="filtrarHabitaciones()"
                  placeholder="Buscar Nº habitacion"
                />
              </span>
            </div>

            <!-- Filtro por código de reserva -->
            <div class="col-12 mb-2 lg:col-3 lg:mb-0">
              <label for="codigoReserva" class="p-d-block p-mb-1">Buscar por código de reserva:</label>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="codigoReserva"
                  (input)="filtrarHabitaciones()"
                  placeholder="Buscar código de reserva"
                />
              </span>
            </div>

            <!-- Filtro por número de documento del huésped -->
            <div class="col-12 mb-2 lg:col-3 lg:mb-0">
              <label for="documentoHuesped" class="p-d-block p-mb-1">Buscar por número de documento del huésped:</label>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="documentoHuesped"
                  (input)="filtrarHabitaciones()"
                  placeholder="Buscar número de documento del huésped"
                />
              </span>
            </div>
          </div>
        </div>


      </div>
    </ng-template>
  </p-panel>
  <br><br>

  <div class="grid">
    <!-- Mostrar habitaciones filtradas -->
    <div class="col-12 lg:col-6 xl:col-3" *ngFor="let lista of habitacionesOcupadasFiltradas">
        <!-- Tarjeta de habitación -->


        <div class="card mb-0 bg-red-500">
            <div class="flex justify-content-between mb-3">
              <div>
                <h2 class="font-medium text-4xl text-white">Habitación {{ lista.numero }}</h2>

              </div>
              <div class="flex align-items-center justify-content-center border-round bg-red-200" style="width: 3rem; height: 3rem;">

                <i class="fas fa-sign-out-alt text-2xl text-red-600"></i>
              </div>
            </div>
               <!-- Código de la reserva y datos del huésped -->
               <div class="flex justify-content-between align-items-center mt-3 p-3 border-round bg-indigo-500">
                <!-- Código de la reserva -->
                <div class="flex flex-column align-items-center">
                  <i class="fas fa-file-alt text-white" style="font-size: 1.2rem;"></i>
                  <span class="text-bluegray-900 font-bold">Código de la reserva:</span>
                  <span class="font-medium text-lg text-white">{{ lista.reservas[0].id }}</span>
                </div>

                <!-- Huésped -->
                <div class="flex flex-column align-items-center">
                  <i class="fas fa-user text-white" style="font-size: 1.2rem;"></i>
                  <span class="text-bluegray-900 font-bold">Huésped:</span>
                  <span class="text-white">{{ lista.reservas[0].huesped.nombre }} {{ lista.reservas[0].huesped.apellido }}</span>
                </div>

                <!-- Número de documento -->
                <div class="flex flex-column align-items-center">
                  <i class="fas fa-id-card text-white" style="font-size: 1.2rem;"></i>
                  <span class="text-bluegray-900 font-bold">Número de documento:</span>
                  <span class="font-medium text-lg text-white">{{ lista.reservas[0].huesped.numero_documento }}</span>
                </div>
            </div>

            <div class="flex justify-content-between align-items-center mt-3">

                @if (lista.reservas[0].pago.saldo !== "0.00") {


                    <div class="flex justify-content-between align-items-center mt-3 p-3 border-round bg-yellow-500">
                        <div class="flex flex-column align-items-center">
                          <i class="fas fa-money-check text-gray-50"></i>

                          <span class=" text-gray-900 font-bold"> Saldo pendiente:</span>
                          <span class="font-medium text-xl  text-red-500">Bs. {{ lista.reservas[0].pago.saldo }}</span>
                        </div>
                      </div>
                  } @else {
                    <div class="flex justify-content-between align-items-center mt-3 p-3 border-round bg-green-500">
                        <div class="flex flex-column align-items-center">
                          <i class="fas fa-check-circle text-white"></i>
                          <span class="font-medium text-xl text-white">Pago completo</span>
                        </div>
                      </div>

                  }
              <!-- <div class="flex flex-column border-round bg-red-600">

              </div> -->

              <div class="flex flex-column">
                <span class="font-medium text-xl font-semibold text-gray-900">Estado:</span>
                <span class="text-white">{{ lista.estado }}</span>
              </div>
            </div>

            <div class="flex justify-content-between mb-3">
                <div>

                  <span class="font-medium text-xl font-semibold text-gray-900">
                    Tipo: <p-tag severity="warning" [value]="lista.tipo_habitacion.nombre"></p-tag>
                  </span>
                </div>

              </div>
            <p class="text-white">{{ lista.descripcion }}</p>

            <!-- Sección de camas y máximo de personas -->
            <div class="flex justify-content-between align-items-center mt-3 p-3 border-round bg-red-600">
              <div class="flex flex-column align-items-center">
                <i class="fas fa-procedures text-white"></i>
                <span class="font-medium text-xl text-white"> Camas:</span>
                <span class="text-white font-bold">{{ lista.cantidad_camas }}</span>
              </div>

              <div class="flex flex-column align-items-center">
                <i class="fas fa-users text-2xl text-white"></i>
                <span class="font-medium text-xl text-white">Máx. Personas:</span>
                <span class="text-white font-bold">{{ lista.limite_personas }}</span>
              </div>
            </div>
            <br />

            <!-- Amenidades -->
            <div class="p-d-flex p-ai-center mb-3">
              @if (lista.tv === 1) {
                <p-tag value="TV" icon="fas fa-tv" class="mr-2"></p-tag>
              }
              @if (lista.ducha === 1) {
                <p-tag value="Ducha" icon="fas fa-shower" class="mr-2" severity="success"></p-tag>
              }
              @if (lista.banio === 1) {
                <p-tag value="Baño" icon="fas fa-toilet" class="mr-2" severity="warning"></p-tag>
              }
              <p-tag value="Wi-Fi" icon="fas fa-wifi" severity="danger"></p-tag>
            </div>

            <div class="flex justify-content-between align-items-center mt-3 p-3 border-round bg-yellow-500">
                <div class="flex flex-column align-items-center">
                  <i class="fas fa-clock text-white"></i>
                  <span class="font-medium text-xl text-white">Tiempo restante:</span>
                  <span class="text-bluegray-900 font-bold">{{ lista.reservas[0].tiempo_restante_checkout.mensaje }}</span>
                </div>
              </div>




            <!-- Costo y estado -->





            <!-- Botones de acción -->
            <div class="flex justify-content-between align-items-center mt-3">
              <p-button
                label="Check Out"
                (click)="obtenerDetallesHabitacion(lista.reservas[0].id)"
                icon="fas fa-sign-out-alt"
                [rounded]="true"
                severity="warning"
              ></p-button>
              <p-button
                label="Ver Info"
                (click)="obtenerDetallesHabitacion(lista.reservas[0].id)"
                icon="fas fa-check-double"
                [rounded]="true"
                severity="info"
              ></p-button>
            </div>
          </div>
        </div>




  </div>







<p-dialog
  header="Detalles del Checkout"
  [modal]="true"
  [(visible)]="ModalCHECKOUT"
  [style]="{ width: '90rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div class="grid">
    <!-- Detalles del Huésped -->

    <!-- Detalles de la Reserva -->
    <div class="col-12 lg:col-4">
      <div class="card mb-3">
        <h3 class="card-header">Detalles de la Reserva</h3>
        <div class="card-body">

          <p><strong>Habitación:</strong> {{ checkoutInfo?.habitacion?.numero }} ({{ checkoutInfo?.habitacion?.tipo_habitacion?.nombre }})</p>
          <p><strong>Nombre:</strong> {{ checkoutInfo?.huesped?.nombre }} {{ checkoutInfo?.huesped?.apellido }}</p>
          <p><strong>Documento:</strong> {{ checkoutInfo?.huesped?.numero_documento }}</p>
          <!-- <p><strong>Correo:</strong> {{ checkoutInfo?.huesped?.correo }}</p> -->
          <p><strong>Teléfono:</strong> {{ checkoutInfo?.huesped?.telefono }}</p>
          <!-- <p><strong>Dirección:</strong> {{ checkoutInfo?.huesped?.direccion }}</p> -->
          <p><strong>Nacionalidad:</strong> {{ checkoutInfo?.huesped?.nacionalidad }}</p>
          <!-- <p><strong>Check-in:</strong> {{ checkoutInfo?.fecha_inicio }}</p>
          <p><strong>Check-out:</strong> {{ checkoutInfo?.fecha_fin }}</p> -->
          <p><strong>Estado:</strong> {{ checkoutInfo?.estado }}</p>
          <p><strong>Días de hospedaje:</strong> {{ checkoutInfo?.detalles_pago?.dias_hospedaje }}</p>
        </div>
      </div>
    </div>

    <!-- Detalles del Pago -->
    <div class="col-12 lg:col-4">
      <div class="card mb-3">
        <h3 class="card-header">Detalles del Pago</h3>
        <div class="card-body">
          <p><strong>Costo por noche:</strong> Bs. {{ checkoutInfo?.detalles_pago?.costo_por_noche }}</p>
          <p><strong>Total sin descuento:</strong> Bs. {{ checkoutInfo?.detalles_pago?.costo_total_sin_descuento }}</p>
          <p><strong>Descuento:</strong> Bs. {{ checkoutInfo?.detalles_pago?.monto_descuento }}</p>
          <p><strong>Total con descuento:</strong> Bs. {{ checkoutInfo?.detalles_pago?.total_con_descuento }}</p>
          <p><strong>Monto pagado:</strong> Bs. {{ checkoutInfo?.pago?.monto_pagado }}</p>
          <p><strong>Saldo pendiente:</strong> Bs. {{ checkoutInfo?.pago?.saldo }}</p>
          <p><strong>Método de pago:</strong> {{ checkoutInfo?.pago?.metodo_de_pago }}</p>
          <p><strong>Estado del pago:</strong> {{ checkoutInfo?.pago?.estado_pago }}</p>
        </div>
      </div>
    </div>

    <!-- Estado del Pago -->
    <div class="col-12 lg:col-4 ">

        @if (checkoutInfo?.pago) {

            <ng-container >


                 @if (checkoutInfo.pago.saldo > 0) {

                    <div  class="card">
                        <h3 class="card-header">Cancelar Saldo Pendiente</h3>
                        <div class="card-body p-fluid">
                          <form [formGroup]="pagoPendienteForm">
                              <div class="grid">
                                  <!-- Monto a Cancelar -->
                                  <div class="col-12">
                                    <label for="monto_pagado">Monto a Cancelar</label>
                                    <p-inputGroup class="w-full">
                                      <p-inputGroupAddon>
                                        <i class="fas fa-money-bill" style="line-height: 1.25"></i>
                                      </p-inputGroupAddon>
                                      <p-inputNumber
                                        [ngModel]="checkoutInfo?.pago?.saldo"
                                        formControlName="monto_pagado"
                                        [showButtons]="true"
                                        mode="currency"
                                        [min]="1"
                                        [max]="checkoutInfo?.pago?.saldo"
                                        [step]="1"
                                        [minFractionDigits]="2"
                                        currency="BOB"
                                        locale="es-BO"
                                      ></p-inputNumber>
                                    </p-inputGroup>
                                    <!-- Mensaje de error para el monto -->
                                    <small *ngIf="pagoPendienteForm.get('monto_pagado').invalid && pagoPendienteForm.get('monto_pagado').touched" class="p-error">
                                      El monto es obligatorio y debe ser mayor a 0.
                                    </small>
                                  </div>

                                  <!-- Método de Pago -->
                                  <div class="col-12">
                                    <label for="metodo_de_pago">Método de pago</label>
                                    <p-dropdown
                                      id="metodo_de_pago"
                                      formControlName="metodo_de_pago"
                                      [options]="[
                                        { label: 'Efectivo', value: 'efectivo' },
                                        { label: 'QR', value: 'qr' }
                                      ]"
                                      optionLabel="label"
                                      optionValue="value"
                                      placeholder="Seleccione un método de pago"
                                    ></p-dropdown>
                                    <!-- Mensaje de error para el método de pago -->
                                    <small *ngIf="pagoPendienteForm.get('metodo_de_pago').invalid && pagoPendienteForm.get('metodo_de_pago').touched" class="p-error">
                                      El método de pago es obligatorio.
                                    </small>
                                  </div>

                                  <!-- Botón de Pagar -->
                                  <div class="col-12">
                                    <p-button
                                      label="Pagar"
                                      [outlined]="true"
                                      severity="success"
                                      [style]="{ width: '100%' }"
                                      (click)="completarPago(checkoutInfo.pago.id)"
                                      [disabled]="pagoPendienteForm.invalid"
                                    ></p-button>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>



                 }
                 @else  {

                    <div class="flex justify-content-between align-items-center mt-3 p-3 border-round bg-green-500">
                        <div class="flex flex-column align-items-center">
                          <i class="fas fa-check-circle text-white"></i>
                          <span class="font-medium text-xl text-white">Pago completo</span>
                        </div>
                      </div>

                 }

                  </ng-container>
        }
        @else {


        }

        </div>

        <!-- Botones de Acción -->
        <div class="col-12 lg:col-12 justify-content-center p-fluid">
          <ng-container *ngIf="checkoutInfo">
            <ng-container *ngIf="checkoutInfo.tiempo_restante_checkout">
              <p-messages *ngIf="checkoutInfo.tiempo_restante_checkout.dias_restantes >= 1 || checkoutInfo.tiempo_restante_checkout.horas_restantes >= 12" severity="success">
                <ng-template pTemplate>
                  <i class="fas fa-exclamation-triangle" width="32"></i>
                  <div class="ml-2">
                    <strong>Tiempo restante del checkout: {{ checkoutInfo.tiempo_restante_checkout.mensaje }}</strong>
                  </div>
                </ng-template>
              </p-messages>
              <p-messages *ngIf="checkoutInfo.tiempo_restante_checkout.horas_restantes < 12 && checkoutInfo.tiempo_restante_checkout.horas_restantes >= 1" severity="warn">
                <ng-template pTemplate>
                  <i class="fas fa-exclamation-triangle" width="32"></i>
                  <div class="ml-2">
                    <strong>Tiempo restante del checkout: {{ checkoutInfo.tiempo_restante_checkout.mensaje }}</strong>
                  </div>
                </ng-template>
              </p-messages>
              <p-messages *ngIf="checkoutInfo.tiempo_restante_checkout.horas_restantes < 1" severity="error">
                <ng-template pTemplate>
                  <i class="fas fa-exclamation-triangle" width="32"></i>
                  <div class="ml-2">
                    <strong>Tiempo restante del checkout: {{ checkoutInfo.tiempo_restante_checkout.mensaje }}</strong>
                  </div>
                </ng-template>
              </p-messages>
            </ng-container>
          </ng-container>
          <div class="grid justify-content-center">
            <div class="col-4">
              <p-button label="Checkout" [outlined]="true" severity="success" [style]="{ width: '100'
          }"></p-button>
        </div>
        <div class="col-4">
          <p-button label="Imprimir Ticket" [outlined]="true" severity="info" [style]="{ width: '100%' }"></p-button>
        </div>
        <div class="col-4">
          <p-button label="Cancelar" (onClick)="cerrarModalCheckOut()" [outlined]="true" severity="warning" [style]="{ width: '100%' }"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
